@color: #4D926F;

div#textPosition {
	position: relative;
}

div#textArea {
	display: block;
	position: absolute;
	right: 14px;
	top: -613px;
}

div#bonusArea {
	position: relative;
	height: 200px;
	top: 40px;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial,Helvetica,sans-serif;
	size: 12px;
	height: 100%;
	/* color: #666666; */
	color:@color;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: #FFFFFF;
}

body {
	background-repeat: no-repeat;
	font-family: Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
	size: 12px;
	width: 100%;
	height: 100%;
}

#totalContainer {
	position: relative;
	top: 0;
}

div#whoAreWe {
	position: absolute;
}

.main {
	background-image: url("../img/rainsource_bg.jpg");
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	min-height: 100%;
	padding-top: 0;
	text-align: left;
	width: 987px;
	overflow: hidden;
}

a {
	color: #12A1E3;
	text-decoration: none;
}

a:hover {
	color: #47BAEF;
	text-decoration: none;
}

#logoArea a {
	background-image: url("../img/logo.png");
	display: block;
	height: 94px;
	left: 24px;
	position: relative;
	text-indent: -99999px;
	top: 10px;
	width: 239px;
}

#sloganArea {
	color: #9E9085;
	display: block;
	font-size: 12px;
	font-style: italic;
	text-align: left;
	width: 400px;
	height: 24px;
	position: relative;
	left: 180px;
	top: -86px;
}

#whoAreWe #whoHeader a {
	background-image: url("../img/whoarewe.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	text-indent: -99999px;
	width: 228px;
	height: 43px;
	left: 766px;
	top: -100px;
	z-index: 200;
}

#whoAreWe #whoHeader a:hover {
	background-position: 0 -47px;
}

#whoAreWe #whoHeader a.active {
	background-position: 0 -91px;
	top: -107px;
	height: 48px;
}

#whoBody {
	display: none;
	position: absolute;
	right: -750px;
	top: -72px;
}

#flowerArea {
	height: 600px;
	margin-top: 37px;
	margin-left: -43px;
}

#flowerArea ul {
	position: relative;
	left: 147px;
}

#flowerArea li {
	list-style: none outside none;
}

#flowerArea a.stub {
	position: absolute;
	display: none;
}

#flowerArea .clickLeaf {
	position: absolute;
	display: none;
}

#flowerArea a.branch {
	position: absolute;
	display: block;
}

#flowerArea ul ul {
	position: relative;
	height: 0;
}

.menu-364 a.branch,
.menu-417 a.branch {
	background-image: url("../img/flower/bigpetals.png");
	background-repeat: no-repeat;
	display: block;
	height: 151px;
	text-indent: -9999px;
	width: 151px;
	z-index: 10000;
	background-position: -317px -3px;
	left: 1px;
	top: 5px;
}

.menu-364 a.branch.rollOver,
.menu-417 a.branch.rollOver  {
	background-position: -325px -312px;
}

.menu-364 a.branch:hover,
.menu-417 a.branch:hover  {
	background-position: -320px -155px;
}

.menu-364 a.branch.rollOver:hover,
.menu-417 a.branch:hover  {
	background-position: -327px -466px;
}

.menu-368 a.branch,
.menu-421 a.branch {
	background-image: url("../img/flower/bigpetals.png");
	background-position: -4px -305px;
	background-repeat: no-repeat;
	display: block;
	height: 151px;
	left: 247px;
	text-indent: -9999px;
	top: 2px;
	width: 151px;
	z-index: 10001;
}

.menu-368 a.branch.rollOver,
.menu-421 a.branch.rollOver {
	background-position: -673px -8px;
}

.menu-368 a.branch:hover,
.menu-421 a.branch:hover {
	background-position: -7px -457px;
}

.menu-368 a.branch.rollOver:hover,
.menu-421 a.branch.rollOver:hover {
	background-position: -673px -161px;
}

.menu-372 a.branch,
.menu-425 a.branch {
	background-image: url("../img/flower/bigpetals.png");
	background-repeat: no-repeat;
	display: block;
	height: 151px;
	left: 251px;
	text-indent: -9999px;
	top: 253px;
	width: 151px;
	z-index: 10002;
	background-position: -172px -459px;
}

.menu-372 a.branch.rollOver,
.menu-425 a.branch.rollOver {
	background-position: -513px -315px;
}

.menu-372 a.branch:hover,
.menu-425 a.branch:hover {
	background-position: -172px -307px;
}

.menu-372 a.branch.rollOver:hover,
.menu-425 a.branch.rollOver:hover {
	background-position: -513px -468px;
}

.menu-376 a.branch,
.menu-429 a.branch {
	background-image: url("../img/flower/bigpetals.png");
	background-repeat: no-repeat;
	display: block;
	height: 152px;
	left: 1px;
	text-indent: -9999px;
	top: 254px;
	z-index: 10003;
	background-position: 0 -156px;
	width: 153px;
}

.menu-376 a.branch.rollOver,
.menu-429 a.branch.rollOver {
	background-position: -672px -318px;
}

.menu-376 a.branch:hover,
.menu-429 a.branch:hover {
	background-position: 0 -5px;
}

.menu-376 a.branch.rollOver:hover,
.menu-429 a.branch.rollOver:hover {
	background-position: -672px -470px;
}

.menu-379 a.branch,
.menu-432 a.branch  {
	background-image: url("../img/flower/bigpetals.png");
	background-position: -152px -1px;
	background-repeat: no-repeat;
	display: block;
	height: 151px;
	left: 123px;
	text-indent: -9999px;
	top: 128px;
	z-index: 10005;
	width: 156px;
}

.menu-379 a.branch.rollOver,
.menu-432 a.branch.rollOver {
	background-position: -500px -6px;
}

.menu-379 a.branch:hover,
.menu-432 a.branch:hover {
	background-position: -155px -152px;
}

.menu-379 a.branch.rollOver:hover,
.menu-432 a.branch.rollOver:hover {
	background-position: -500px -160px;
}

.menu-365 a,
.menu-418 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	left: -192px;
	top: -35px;
	height: 68px;
	width: 67px;
}

.menu-365 span,
.menu-418 span {
	background-image: url("../img/flower/all_petals_sprite.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	text-indent: -9999px;
	top: -49px;
	width: 127px;
	z-index: 100;
	left: -218px;
}

.menu-365 span.glow,
.menu-418 span.glow {
	background-position: -1px -249px;
}

.menu-365 span.active,
.menu-418 span.active {
	background-position: -1px -123px;
}

.menu-366 a,
.menu-419 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	left: -216px;
	top: 43px;
	height: 66px;
	width: 72px;
}

.menu-366 span,
.menu-419 span  {
	background-image: url("../img/flower/all_petals_sprite.png");
	background-position: -514px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: -222px;
	text-indent: -9999px;
	top: 15px;
	width: 127px;
	z-index: 100;
}

.menu-366 span.glow,
.menu-419 span.glow  {
	background-position: -515px -249px;
}

.menu-366 span.active,
.menu-419 span.active {
	background-position: -515px -123px;
}

.menu-367 a,
.menu-420 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	top: 118px;
	left: -183px;
	width: 59px;
	height: 59px;
}

.menu-367 span,
.menu-420 span {
	background-image: url("../img/flower/all_petals_sprite.png");
	background-position: -939px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: -194px;
	text-indent: -9999px;
	top: 78px;
	width: 94px;
	z-index: 100;
}

.menu-367 span.glow,
.menu-420 span.glow {
	background-position: -939px -249px;
}

.menu-367 span.active,
.menu-420 span.active {
	background-position: -939px -123px;
}

.menu-369 a,
.menu-421 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	top: 40px;
	height: 68px;
	width: 65px;
	left: 251px;
}

.menu-369 span,
.menu-421 span {
	background-image: url("../img/flower/all_petals_sprite.png");
	background-position: -235px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: 219px;
	text-indent: -9999px;
	top: 13px;
	width: 114px;
	z-index: 100;
}

.menu-369 span.glow,
.menu-421 span.glow {
	background-position: -237px -249px;
}

.menu-369 span.active,
.menu-421 span.active {
	background-position: -237px -123px;
}

.menu-370 a,
.menu-422 a  {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	top: 116px;
	left: 232px;
	height: 64px;
	width: 58px;
}

.menu-370 span,
.menu-422 span {
	background-image: url("../img/flower/all_petals_sprite.png");
	background-position: -744px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: 206px;
	text-indent: -9999px;
	top: 83px;
	width: 101px;
	z-index: 100;
}

.menu-370 span.glow,
.menu-422 span.glow{
	background-position: -744px -249px;
}

.menu-370 span.active {
	background-position: -744px -123px;
}

.menu-371 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	width: 71px;
	left: 226px;
	height: 62px;
	top: -34px;
}

.menu-371 span {
	background-position: -644px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: 206px;
	text-indent: -9999px;
	top: -50px;
	width: 101px;
	z-index: 100;
	background-image: url("../img/flower/all_petals_sprite.png");
}

.menu-371 span.glow {
	background-position: -644px -249px;
}

.menu-371 span.active {
	background-position: -644px -123px;
}

.menu-374 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	top: 219px;
	width: 68px;
	left: 227px;
	height: 64px;
}

.menu-374 span {
	background-image: url("../img/flower/all_petals_sprite.png");
	background-position: -644px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: 206px;
	text-indent: -9999px;
	top: 203px;
	width: 101px;
	z-index: 100;
}

.menu-374 span.glow {
	background-position: -644px -249px;
}

.menu-374 span.active {
	background-position: -644px -123px;
}

.menu-375 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	left: 254px;
	top: 297px;
	height: 64px;
	width: 61px;
}

.menu-375 span {
	background-position: -376px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: 223px;
	text-indent: -9999px;
	top: 267px;
	width: 101px;
	z-index: 100;
	background-image: url("../img/flower/all_petals_sprite.png");
}

.menu-375 span.glow {
	background-position: -377px -249px;
}

.menu-375 span.active {
	background-position: -377px -123px;
}

.menu-373 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	left: 230px;
	top: 373px;
	height: 61px;
	width: 59px;
}

.menu-373 span {
	background-position: -744px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: 206px;
	text-indent: -9999px;
	top: 337px;
	width: 101px;
	z-index: 100;
	background-image: url("../img/flower/all_petals_sprite.png");
}

.menu-373 span.glow {
	background-position: -744px -249px;
}

.menu-373 span.active {
	background-position: -744px -123px;
}

.menu-378 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	height: 66px;
	top: 376px;
	width: 70px;
	left: -189px;
}

.menu-378 span {
	background-position: -939px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: -194px;
	text-indent: -9999px;
	top: 330px;
	width: 94px;
	z-index: 100;
	background-image: url("../img/flower/all_petals_sprite.png");
}

.menu-378 span.glow {
	background-position: -939px -249px;
}

.menu-378 span.active {
	background-position: -939px -123px;
}

.menu-377 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	top: 297px;
	left: -210px;
	width: 66px;
	height: 65px;
}

.menu-377 span {
	background-position: -514px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	left: -222px;
	text-indent: -9999px;
	top: 268px;
	width: 127px;
	z-index: 100;
	background-image: url("../img/flower/all_petals_sprite.png");
}

.menu-377 span.glow {
	background-position: -515px -249px;
}

.menu-377 span.active {
	background-position: -515px -123px;
}

.menu-381 a {
	display: block;
	text-indent: -9999px;
	width: 77px;
	z-index: 20000;
	height: 72px;
	top: 48px;
	left: 8px;
}

.menu-381 span {
	background-image: url("../img/flower/all_petals_sprite.png");
	background-position: -133px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	text-indent: -9999px;
	z-index: 100;
	width: 79px;
	top: 41px;
	left: 8px;
}

.menu-381 span.glow {
	background-position: -133px -249px;
}

.menu-381 span.active {
	background-position: -133px -123px;
}

.menu-380 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	height: 65px;
	width: 62px;
	left: 123px;
	top: 157px;
}

.menu-380 span {
	background-position: -237px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	text-indent: -9999px;
	width: 107px;
	z-index: 100;
	background-image: url("../img/flower/all_petals_sprite.png");
	top: 128px;
	left: 93px;
}

.menu-380 span.glow {
	background-position: -239px -249px;
}

.menu-380 span.active {
	background-position: -239px -123px;
}

.menu-383 a {
	display: block;
	text-indent: -9999px;
	width: 77px;
	z-index: 20000;
	height: 63px;
	top: 262px;
	left: 11px;
}

.menu-383 span {
	background-position: -852px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	text-indent: -9999px;
	z-index: 100;
	background-image: url("../img/flower/all_petals_sprite.png");
	width: 83px;
	left: 7px;
	top: 224px;
}

.menu-383 span.glow {
	background-position: -852px -249px;
}

.menu-383 span.active {
	background-position: -852px -123px;
}

.menu-382 a {
	display: block;
	text-indent: -9999px;
	z-index: 20000;
	height: 64px;
	width: 66px;
	top: 160px;
	left: -91px;
}

.menu-382 span {
	background-position: -1050px 0;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	text-indent: -9999px;
	width: 107px;
	z-index: 100;
	left: -94px;
	background-image: url("../img/flower/all_petals_sprite.png");
	top: 129px;
}

.menu-382 span.glow {
	background-position: -1050px -249px;
}

.menu-382 span.active {
	background-position: -1050px -123px;
}

h2 {
	font-size: 18px;
	line-height: 18px;
	padding: 0;
	text-transform: uppercase;
	color: #EEB60D;
	margin: 0 0 7px;
}

.sideBox {
	margin: 0;
	height: auto;
	width: 300px;
	font-size: 13px;
	line-height: 18px;
	color: #726860;
	padding: 15px;
	-moz-border-image: url("../img/info_border.png") 13 13 13 13 repeat;
	border-width: 13px;
}

.bumpOut {
	display: block;
	background: url("../img/info_arrow.png") no-repeat scroll 0 0 transparent;
	margin: 0;
	padding: 0;
	z-index: 10000;
	clear: both;
	height: 23px;
	width: 17px;
	position: absolute;
	top: 19px;
	left: -9px;
}

